body {
  /* font-family: 'Arial', sans-serif; */
  font-family: 'Nunito', sans-serif;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-image {
  width: 60px;
}

#contact-form .form-group {
  margin-bottom: 20px;
}
#conatct-form label {
  display: block;
  margin-bottom: 5px;
}
#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}
#contact-form textarea {
  height: 200px;
}
#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

@media only screen and (max-width: 768px) {
  .btn {
    display: block;
    text-align: center;
    width: 82%;
  }
  .info {
    margin-bottom: 50px;
  }
}
